<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>166977708901-6mk7e0ftuod9n3u77h07sqsq5nhsq3uv.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.166977708901-6mk7e0ftuod9n3u77h07sqsq5nhsq3uv</string>
        <key>API_KEY</key>
        <string>AIzaSyAn5RlNRKHwHGohNbkcacauIsYHhgcbrvU</string>
        <key>GCM_SENDER_ID</key>
        <string>166977708901</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.kapi.kapi-kaffeine</string>
        <key>PROJECT_ID</key>
        <string>cafeoffice-8e58c</string>
        <key>STORAGE_BUCKET</key>
        <string>cafeoffice-8e58c.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:166977708901:ios:fd1b2afbabe5be36</string>
        <key>DATABASE_URL</key>
        <string>https://cafeoffice-8e58c.firebaseio.com</string>
    </dict>
</plist>
